.text-center {
  margin-top: 40px;
}

.bg_wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
  background: url("../../img/project_bg.jpg");
  background-position: center -20px;
  background-attachment: fixed;
  background-size: cover;
}

.btn_wrapper button {
  background-color: #a38671;
  border-radius: 2px;
  transition: background-color 0.25s ease-in-out;
  padding: 15px !important;
  font-size: 15px !important;
  text-transform: uppercase;
}

.btn_wrapper button:hover,
.btn_wrapper button:active {
  background-color: #a5c63b;
}
