.arenda_bg {
  background: url("../../img/arende.jpg") left no-repeat;
  padding: 200px 0px 100px 0px;
  transition: padding 0.3s;
}

.text_about_wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.text_about_wrapper h2 {
  font-weight: 250;
}

.items_rent {
  margin-bottom: 50px;
}

@media (max-width: 576px) {
  .row {
    text-align: center;
  }
  .row .display-3 {
    font-size: 40px;
  }

  .card img {
    align-items: center;
  }
}
